@page "{id:int}"
@model VKR_Kontorin.Pages.ContactOwnerModel
@{
    ViewData["Title"] = "ContactOwner";
}

<h1 style="text-align: center; margin-bottom: 0.5em;" , class="bg-warning text-white">Контактные данные арендодателя</h1>
@{
    string ownertlf = "";
    string owneremail = "";
}
@foreach (var owner in Model.Owners)
    if (@owner.Id == @Model.Tech?.Owner_id)
        ownertlf = owner.Tlf;
@foreach (var user in Model.AppUsers)
    if (@user.UserName == ownertlf)
        owneremail = user.Email;
<p style="text-align: center">
    Телефон арендодателя: @ownertlf
</p><br />
@{
    string tlf = @Model.Tech.Cust;
    string tipe = @Model.Tipes[@Model.Tech.Tipe_id - 1].Name;
    string brand = @Model.Brands[@Model.Tech.Brand_id - 1].Name;
    string mark = @Model.Marks[@Model.Tech.Mark_id - 1].Name;
    string tech = tipe + " " + brand + " " + mark;
}
<div style="display:flex; justify-content:center; align-items:center; height:30vh;">
    <button class="btn btn-warning">
        <a asp-area="" asp-controller="Home" asp-action="SendEmail"
           asp-route-tlf=@tlf asp-route-tech=@tech asp-route-email=@owneremail
            style="text-decoration: none; color: black;">Ок
        </a>
    </button>
</div>