@page "{id:int}"
@model VKR_Kontorin.Pages.EditFreeModel
@{
    ViewData["Title"] = "EditFree";
}

<h1 style="text-align: center; margin-bottom:0.5em" class="bg-secondary text-white">Изменение статуса техники</h1>

<p style="text-align: center">
    Измените статус техники.
</p>

<form method="post">
    <input name="id" value="@Model.Tech?.Id" type="hidden" />
    <input name="tipe_id" value="@Model.Tech?.Tipe_id" type="hidden" />
    <input name="brand_id" value="@Model.Tech?.Brand_id" type="hidden" />
    <input name="mark_id" value="@Model.Tech?.Mark_id" type="hidden" />
    <input name="owner_id" value="@Model.Tech?.Owner_id" type="hidden" />
    <input name="city_id" value="@Model.Tech?.City_id" type="hidden" />
    <input name="distr" value="@Model.Tech?.Distr" type="hidden" />
    <input name="price" value="@Model.Tech?.Price" type="hidden" />
    @{
        if (@Model.Tech.Block)
        {
            <input name="block" value=true type="hidden" />
        }
    }
    @{
        if (@Model.Tech.Free)
        {
            <input name="free" value="false" type="hidden" />
        }
        else
        {
            <input name="free" value="true" type="hidden" />
        }
    }
    <input name="time" value="" type="hidden" />
    <div style="display:flex; justify-content:center; align-items:center; height:30vh;">
    @{
        if (@Model.Tech.Free)
        {
            <input class="btn btn-warning text-white" type="submit" value="Занят" />
        }
        else
        {
            <input class="btn btn-success" type="submit" value="Свободен" />
        }
    }
    </div>
</form>