@model IEnumerable<RoleWithUsers> 

@{
    ViewData["Title"] = "Roles";
}

<h1 style="text-align: center; margin-bottom: 0.5em;" class="bg-primary text-white">Роли</h1>
<a asp-action="Create" class="btn btn-success" style="margin-bottom:1em">Добавить роль</a>

<table class="table table-sm table-bordered table-bordered">
    <tr><th>Id</th><th>Название</th><th>Пользователи</th><th colspan="2"></th></tr>
    @foreach (var roleWithUsers in Model) 
    {
        <tr>
            <td>@roleWithUsers.Role.Id</td>
            <td>@roleWithUsers.Role.Name</td>
            <td>@string.Join(", ", roleWithUsers.UserNames)</td>
            <td style="text-align: center">
                <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@roleWithUsers.Role.Id">Изменить</a>
            </td>
            <td style="text-align: center">
                <form asp-action="Delete" asp-route-id="@roleWithUsers.Role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<form action="/IndexAuthorize">
    <button class="btn btn-primary">На главную</button>
</form>